In [16]:
import pandas as pd
import numpy as np

In [2]:
other = pd.read_csv('all_places.csv')
other.head()

,business_status,geometry,name,place_id,rating,types,user_ratings_total,vicinity,permanently_closed,place_type
0,OPERATIONAL,"{'location': {'lat': 20.6911818, 'lng': -105.2...",Claudio's Place,ChIJMUwQD51GIYQRJgins7Zd2Vg,4.4,"['bar', 'restaurant', 'food', 'point_of_intere...",111.0,"Prol. Amado Nervo s/n, Jarretaderas, Bahía de ...",NaN,restaurant
1,OPERATIONAL,"{'location': {'lat': 20.6938154, 'lng': -105.2...",The Blue Shrimp Nuevo Vallarta,ChIJPVj2k5xGIYQRhuGhW6K4srg,4.5,"['restaurant', 'food', 'point_of_interest', 'e...",401.0,"Blvrd. Nayarit 208 Jarretaderas Jarretaderas, ...",NaN,restaurant
2,OPERATIONAL,"{'location': {'lat': 20.6917245, 'lng': -105.2...",Quesos,ChIJyR1UOQtHIYQRjkhFEnVI5-4,NaN,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,"Avenida Emiliano Zapata Norte 360, Costa Coral...",NaN,restaurant
3,OPERATIONAL,"{'location': {'lat': 20.6919927, 'lng': -105.2...","Los Charales de Jarretaderas, Estilo Chileno",ChIJm9JDz1ZHIYQRQcr5yofPgYs,NaN,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,"Calle Miguel Hidalgo Puente 108, Costa Coral, ...",NaN,restaurant
4,OPERATIONAL,"{'location': {'lat': 20.6898023, 'lng': -105.2...",Pozole,ChIJdbFx-TxHIYQRDJDMm8D7mSM,NaN,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,"Calle Niños Heroes 72, Costa Coral, Las Jarret...",NaN,restaurant

In [3]:
other = other.drop(columns=['permanently_closed'])

In [4]:
other['geometry'] = other['geometry'].str.split(", 'v").str[0]

other['geometry'] = other['geometry'].str.split("location': ").str[1]

other.iloc[0].geometry

"{'lat': 20.6911818, 'lng': -105.2804769}"

In [5]:
df_geo = other['geometry'].map(eval).apply(pd.Series)

df_geo.head()

         lat         lng
0  20.691182 -105.280477
1  20.693815 -105.279836
2  20.691724 -105.274816
3  20.691993 -105.274341
4  20.689802 -105.277280

In [6]:
other = other.merge(df_geo, how='outer', left_index=True, right_index=True)
other.head()

,business_status,geometry,name,place_id,rating,types,user_ratings_total,vicinity,place_type,lat,lng
0,OPERATIONAL,"{'lat': 20.6911818, 'lng': -105.2804769}",Claudio's Place,ChIJMUwQD51GIYQRJgins7Zd2Vg,4.4,"['bar', 'restaurant', 'food', 'point_of_intere...",111.0,"Prol. Amado Nervo s/n, Jarretaderas, Bahía de ...",restaurant,20.691182,-105.280477
1,OPERATIONAL,"{'lat': 20.6938154, 'lng': -105.2798356}",The Blue Shrimp Nuevo Vallarta,ChIJPVj2k5xGIYQRhuGhW6K4srg,4.5,"['restaurant', 'food', 'point_of_interest', 'e...",401.0,"Blvrd. Nayarit 208 Jarretaderas Jarretaderas, ...",restaurant,20.693815,-105.279836
2,OPERATIONAL,"{'lat': 20.6917245, 'lng': -105.2748159}",Quesos,ChIJyR1UOQtHIYQRjkhFEnVI5-4,NaN,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,"Avenida Emiliano Zapata Norte 360, Costa Coral...",restaurant,20.691724,-105.274816
3,OPERATIONAL,"{'lat': 20.6919927, 'lng': -105.2743408}","Los Charales de Jarretaderas, Estilo Chileno",ChIJm9JDz1ZHIYQRQcr5yofPgYs,NaN,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,"Calle Miguel Hidalgo Puente 108, Costa Coral, ...",restaurant,20.691993,-105.274341
4,OPERATIONAL,"{'lat': 20.6898023, 'lng': -105.27728}",Pozole,ChIJdbFx-TxHIYQRDJDMm8D7mSM,NaN,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,"Calle Niños Heroes 72, Costa Coral, Las Jarret...",restaurant,20.689802,-105.277280

In [7]:
other.describe(include='all')

,business_status,geometry,name,place_id,rating,types,user_ratings_total,vicinity,place_type,lat,lng
count,1588,1588,1588,1588,1303.000000,1588,1303.000000,1584,1588,1588.000000,1588.000000
unique,1,1457,1425,1490,NaN,91,NaN,1311,8,NaN,NaN
top,OPERATIONAL,"{'lat': 20.65340699999999, 'lng': -105.2253316}",Super Kiosko S.A. de C.V.,ChIJY_fWrbRaIYQRW0qW1rChkkA,NaN,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,Puerto Vallarta,restaurant,NaN,NaN
freq,1588,8,27,2,NaN,839,NaN,22,993,NaN,NaN
mean,NaN,NaN,NaN,NaN,4.476823,NaN,306.873369,NaN,NaN,20.636499,-105.235358
std,NaN,NaN,NaN,NaN,0.480974,NaN,1278.046626,NaN,NaN,0.028962,0.015089
min,NaN,NaN,NaN,NaN,1.000000,NaN,1.000000,NaN,NaN,20.522347,-105.294444
25%,NaN,NaN,NaN,NaN,4.300000,NaN,7.000000,NaN,NaN,20.612127,-105.238388
50%,NaN,NaN,NaN,NaN,4.500000,NaN,46.000000,NaN,NaN,20.637453,-105.232750
75%,NaN,NaN,NaN,NaN,4.800000,NaN,243.500000,NaN,NaN,20.656280,-105.226408
max,NaN,NaN,NaN,NaN,5.000000,NaN,37191.000000,NaN,NaN,20.747965,-105.202497

In [11]:
other.head()

,business_status,geometry,name,place_id,rating,types,user_ratings_total,vicinity,place_type,lat,lng
0,OPERATIONAL,"{'lat': 20.6911818, 'lng': -105.2804769}",Claudio's Place,ChIJMUwQD51GIYQRJgins7Zd2Vg,4.4,"['bar', 'restaurant', 'food', 'point_of_intere...",111.0,"Prol. Amado Nervo s/n, Jarretaderas, Bahía de ...",restaurant,20.691182,-105.280477
1,OPERATIONAL,"{'lat': 20.6938154, 'lng': -105.2798356}",The Blue Shrimp Nuevo Vallarta,ChIJPVj2k5xGIYQRhuGhW6K4srg,4.5,"['restaurant', 'food', 'point_of_interest', 'e...",401.0,"Blvrd. Nayarit 208 Jarretaderas Jarretaderas, ...",restaurant,20.693815,-105.279836
2,OPERATIONAL,"{'lat': 20.6917245, 'lng': -105.2748159}",Quesos,ChIJyR1UOQtHIYQRjkhFEnVI5-4,NaN,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,"Avenida Emiliano Zapata Norte 360, Costa Coral...",restaurant,20.691724,-105.274816
3,OPERATIONAL,"{'lat': 20.6919927, 'lng': -105.2743408}","Los Charales de Jarretaderas, Estilo Chileno",ChIJm9JDz1ZHIYQRQcr5yofPgYs,NaN,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,"Calle Miguel Hidalgo Puente 108, Costa Coral, ...",restaurant,20.691993,-105.274341
4,OPERATIONAL,"{'lat': 20.6898023, 'lng': -105.27728}",Pozole,ChIJdbFx-TxHIYQRDJDMm8D7mSM,NaN,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,"Calle Niños Heroes 72, Costa Coral, Las Jarret...",restaurant,20.689802,-105.277280

In [24]:
rated_places = other[other['rating'].notnull()]

In [25]:
rated_places.describe(include='all')

,business_status,geometry,name,place_id,rating,types,user_ratings_total,vicinity,place_type,lat,lng
count,1303,1303,1303,1303,1303.000000,1303,1303.000000,1300,1303,1303.000000,1303.000000
unique,1,1191,1152,1207,NaN,88,NaN,1089,8,NaN,NaN
top,OPERATIONAL,"{'lat': 20.63811859999999, 'lng': -105.2217454}",Super Kiosko S.A. de C.V.,ChIJ1c-yrJ9FIYQRLdz1o2itxn0,NaN,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,Puerto Vallarta,restaurant,NaN,NaN
freq,1303,5,26,2,NaN,662,NaN,13,808,NaN,NaN
mean,NaN,NaN,NaN,NaN,4.476823,NaN,306.873369,NaN,NaN,20.636164,-105.235672
std,NaN,NaN,NaN,NaN,0.480974,NaN,1278.046626,NaN,NaN,0.029343,0.014920
min,NaN,NaN,NaN,NaN,1.000000,NaN,1.000000,NaN,NaN,20.522347,-105.294444
25%,NaN,NaN,NaN,NaN,4.300000,NaN,7.000000,NaN,NaN,20.611191,-105.238487
50%,NaN,NaN,NaN,NaN,4.500000,NaN,46.000000,NaN,NaN,20.637367,-105.233223
75%,NaN,NaN,NaN,NaN,4.800000,NaN,243.500000,NaN,NaN,20.656264,-105.227231
max,NaN,NaN,NaN,NaN,5.000000,NaN,37191.000000,NaN,NaN,20.747965,-105.202497

In [27]:
rated_places = rated_places[rated_places['rating']>3]

In [28]:
rated_places.shape

(1279, 11)

In [34]:
from itertools import product

In [41]:
rated_places.dtypes

business_status        object
geometry               object
name                   object
place_id               object
rating                float64
types                  object
user_ratings_total    float64
vicinity               object
place_type             object
lat                   float64
lng                   float64
long_lat              float64
dtype: object

In [44]:
rated_places['lng'] = rated_places['lng'].astype(str)
rated_places['lat'] = rated_places['lat'].astype(str)

In [45]:
rated_places['long_lat'] = rated_places['lng'].str.cat(rated_places['lat'],sep=", ")
rated_places.head()

,business_status,geometry,name,place_id,rating,types,user_ratings_total,vicinity,place_type,lat,lng,long_lat
0,OPERATIONAL,"{'lat': 20.6911818, 'lng': -105.2804769}",Claudio's Place,ChIJMUwQD51GIYQRJgins7Zd2Vg,4.4,"['bar', 'restaurant', 'food', 'point_of_intere...",111.0,"Prol. Amado Nervo s/n, Jarretaderas, Bahía de ...",restaurant,20.6911818,-105.2804769,"-105.2804769, 20.6911818"
1,OPERATIONAL,"{'lat': 20.6938154, 'lng': -105.2798356}",The Blue Shrimp Nuevo Vallarta,ChIJPVj2k5xGIYQRhuGhW6K4srg,4.5,"['restaurant', 'food', 'point_of_interest', 'e...",401.0,"Blvrd. Nayarit 208 Jarretaderas Jarretaderas, ...",restaurant,20.6938154,-105.2798356,"-105.2798356, 20.6938154"
5,OPERATIONAL,"{'lat': 20.6931104, 'lng': -105.274536}",BLUE TARP RESTAURANT - MAGO,ChIJsSQDhrlHIYQRBlq2Z9h6zsU,5.0,"['restaurant', 'food', 'point_of_interest', 'e...",1.0,Jarretaderas,restaurant,20.6931104,-105.274536,"-105.274536, 20.6931104"
6,OPERATIONAL,"{'lat': 20.6921476, 'lng': -105.2733732}",Menuderia doña cuca,ChIJOet8NYJGIYQR-pCCv3wGmZY,4.3,"['restaurant', 'food', 'point_of_interest', 'e...",6.0,"Calle Lopez Mateos 75, Las Jarretaderas",restaurant,20.6921476,-105.2733732,"-105.2733732, 20.6921476"
7,OPERATIONAL,"{'lat': 20.6891107, 'lng': -105.2740624}",Fonda La Casa De Los Abuelos,ChIJJejZZSVFIYQRWg7Wfn0HlM0,4.0,"['restaurant', 'food', 'point_of_interest', 'e...",1.0,"Calle Lopez Mateos 35, Costa Coral, Las Jarret...",restaurant,20.6891107,-105.2740624,"-105.2740624, 20.6891107"

In [61]:
restaurants = rated_places[rated_places['place_type']=='restaurant']
restaurants.shape

(788, 12)

# List Number of Places within Walking Distance for Each Hotel:

In [13]:
hotels = pd.read_csv('hotels_cleaned.csv')

In [47]:
hotels['lng'] = hotels['lng'].astype(str)
hotels['lat'] = hotels['lat'].astype(str)

In [48]:
hotels['long_lat'] = hotels['lng'].str.cat(hotels['lat'],sep=", ")
hotels.head()

,business_status,geometry,icon,name_x,opening_hours,photos,place_id,plus_code,rating_x,reference,...,rating_y,reviews,user_ratings_total_y,website,all_ratings,all_reviews,price_level_y,lat,lng,long_lat
0,OPERATIONAL,"{'lat': 20.6939009, 'lng': -105.2742384}",https://maps.gstatic.com/mapfiles/place_api/ic...,casa LAS PIÑAS,{'open_now': False},"[{'height': 640, 'html_attributions': ['<a hre...",ChIJIeVYvYNGIYQRh-9bPVK3fCU,"{'compound_code': 'MPVG+H8 Jarretaderas, Nayar...",4.6,ChIJIeVYvYNGIYQRh-9bPVK3fCU,...,4.6,"[{'author_name': 'Jovita Garcia Fernandez', 'a...",8.0,https://www.facebook.com/departamentos.laspinas/,"[5, 5, 5, 5, 5]",an excellent place has all the comforts it ...,NaN,20.6939009,-105.2742384,"-105.2742384, 20.6939009"
1,OPERATIONAL,"{'lat': 20.6920731, 'lng': -105.2747303}",https://maps.gstatic.com/mapfiles/place_api/ic...,Villas Victoria Confort Jarretaderas,{'open_now': True},NaN,ChIJdSKPg3xHIYQRlZ0pmfgVPiQ,"{'compound_code': 'MPRG+R4 Jarretaderas, Nayar...",5.0,ChIJdSKPg3xHIYQRlZ0pmfgVPiQ,...,5.0,"[{'author_name': 'anahi chavez', 'author_url':...",1.0,https://www.villasvictoriacomfort.com/,[5],it was more than i expected cheap spacious...,NaN,20.6920731,-105.2747303,"-105.2747303, 20.6920731"
2,OPERATIONAL,"{'lat': 20.6939068, 'lng': -105.2763239}",https://maps.gstatic.com/mapfiles/place_api/ic...,Hotel Posada Alejandra,NaN,"[{'height': 349, 'html_attributions': ['<a hre...",ChIJB2Yha4NGIYQRE-GTtF_VSAU,"{'compound_code': 'MPVF+HF Jarretaderas, Nayar...",4.0,ChIJB2Yha4NGIYQRE-GTtF_VSAU,...,4.0,"[{'author_name': 'Juan Carlos Lopez', 'author_...",54.0,https://www.google.com/url?sa=t&source=web&rct...,"[3, 4, 3, 3, 5]",just for one night it s alright discreet a...,NaN,20.6939068,-105.2763239,"-105.2763239, 20.6939068"
3,OPERATIONAL,"{'lat': 20.6241471, 'lng': -105.2243218}",https://maps.gstatic.com/mapfiles/place_api/ic...,Hotel Azul Romero,{'open_now': True},"[{'height': 3120, 'html_attributions': ['<a hr...",ChIJFW5JHF5FIYQRogsYTW-KvMI,"{'compound_code': 'JQFG+M7 Puerto Vallarta, Ja...",3.9,ChIJFW5JHF5FIYQRogsYTW-KvMI,...,3.9,"[{'author_name': 'Al Reust', 'author_url': 'ht...",11.0,http://www.azulromero.com/,"[3, 4, 5, 4, 1]",this is interesting as it appears to be be ...,NaN,20.6241471,-105.22432179999998,"-105.22432179999998, 20.6241471"
4,OPERATIONAL,"{'lat': 20.6225929, 'lng': -105.2232518}",https://maps.gstatic.com/mapfiles/place_api/ic...,Vacational Apartment Apartamento Vacacional De...,NaN,"[{'height': 1052, 'html_attributions': ['<a hr...",ChIJ9321RV5FIYQRwnf0qJkeIqU,"{'compound_code': 'JQFG+2M Puerto Vallarta, Ja...",4.8,ChIJ9321RV5FIYQRwnf0qJkeIqU,...,4.8,"[{'author_name': 'Daniel Chilldres', 'author_u...",11.0,https://www.airbnb.mx/rooms/23351610,"[5, 4, 5, 5, 5]",i loved it here the place is clean pleasa...,NaN,20.6225929,-105.2232518,"-105.2232518, 20.6225929"

In [14]:
def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

In [ ]:
haversine_np(hotels['lng'], hotels['lat'], )

In [ ]:
counter_rest = 0
restaurant_names = []
for i in restaurants:
    if haversine_np <= 1:
        counter += 1
        restaurant_names.append(rest)
    else:
        pass

In [58]:
rated_places['lng'] = rated_places['lng'].astype(float)
rated_places['lat'] = rated_places['lat'].astype(float)

hotels['lng'] = hotels['lng'].astype(float)
hotels['lat'] = hotels['lat'].astype(float)

In [62]:
restaurants.iloc[0].lat

20.6911818

In [ ]:
-105.2742384, 20.6939009,

In [63]:
hotels['num_close_restaurants'] = haversine_np(hotels.iloc[0].lng, hotels.iloc[0].lat, restaurants.iloc[0].lng, restaurants.iloc[0].lat)

In [64]:
hotels.head()

,business_status,geometry,icon,name_x,opening_hours,photos,place_id,plus_code,rating_x,reference,...,reviews,user_ratings_total_y,website,all_ratings,all_reviews,price_level_y,lat,lng,long_lat,num_close_restaurants
0,OPERATIONAL,"{'lat': 20.6939009, 'lng': -105.2742384}",https://maps.gstatic.com/mapfiles/place_api/ic...,casa LAS PIÑAS,{'open_now': False},"[{'height': 640, 'html_attributions': ['<a hre...",ChIJIeVYvYNGIYQRh-9bPVK3fCU,"{'compound_code': 'MPVG+H8 Jarretaderas, Nayar...",4.6,ChIJIeVYvYNGIYQRh-9bPVK3fCU,...,"[{'author_name': 'Jovita Garcia Fernandez', 'a...",8.0,https://www.facebook.com/departamentos.laspinas/,"[5, 5, 5, 5, 5]",an excellent place has all the comforts it ...,NaN,20.693901,-105.274238,"-105.2742384, 20.6939009",0.715468
1,OPERATIONAL,"{'lat': 20.6920731, 'lng': -105.2747303}",https://maps.gstatic.com/mapfiles/place_api/ic...,Villas Victoria Confort Jarretaderas,{'open_now': True},NaN,ChIJdSKPg3xHIYQRlZ0pmfgVPiQ,"{'compound_code': 'MPRG+R4 Jarretaderas, Nayar...",5.0,ChIJdSKPg3xHIYQRlZ0pmfgVPiQ,...,"[{'author_name': 'anahi chavez', 'author_url':...",1.0,https://www.villasvictoriacomfort.com/,[5],it was more than i expected cheap spacious...,NaN,20.692073,-105.274730,"-105.2747303, 20.6920731",0.715468
2,OPERATIONAL,"{'lat': 20.6939068, 'lng': -105.2763239}",https://maps.gstatic.com/mapfiles/place_api/ic...,Hotel Posada Alejandra,NaN,"[{'height': 349, 'html_attributions': ['<a hre...",ChIJB2Yha4NGIYQRE-GTtF_VSAU,"{'compound_code': 'MPVF+HF Jarretaderas, Nayar...",4.0,ChIJB2Yha4NGIYQRE-GTtF_VSAU,...,"[{'author_name': 'Juan Carlos Lopez', 'author_...",54.0,https://www.google.com/url?sa=t&source=web&rct...,"[3, 4, 3, 3, 5]",just for one night it s alright discreet a...,NaN,20.693907,-105.276324,"-105.2763239, 20.6939068",0.715468
3,OPERATIONAL,"{'lat': 20.6241471, 'lng': -105.2243218}",https://maps.gstatic.com/mapfiles/place_api/ic...,Hotel Azul Romero,{'open_now': True},"[{'height': 3120, 'html_attributions': ['<a hr...",ChIJFW5JHF5FIYQRogsYTW-KvMI,"{'compound_code': 'JQFG+M7 Puerto Vallarta, Ja...",3.9,ChIJFW5JHF5FIYQRogsYTW-KvMI,...,"[{'author_name': 'Al Reust', 'author_url': 'ht...",11.0,http://www.azulromero.com/,"[3, 4, 5, 4, 1]",this is interesting as it appears to be be ...,NaN,20.624147,-105.224322,"-105.22432179999998, 20.6241471",0.715468
4,OPERATIONAL,"{'lat': 20.6225929, 'lng': -105.2232518}",https://maps.gstatic.com/mapfiles/place_api/ic...,Vacational Apartment Apartamento Vacacional De...,NaN,"[{'height': 1052, 'html_attributions': ['<a hr...",ChIJ9321RV5FIYQRwnf0qJkeIqU,"{'compound_code': 'JQFG+2M Puerto Vallarta, Ja...",4.8,ChIJ9321RV5FIYQRwnf0qJkeIqU,...,"[{'author_name': 'Daniel Chilldres', 'author_u...",11.0,https://www.airbnb.mx/rooms/23351610,"[5, 4, 5, 5, 5]",i loved it here the place is clean pleasa...,NaN,20.622593,-105.223252,"-105.2232518, 20.6225929",0.715468

In [ ]:
hotels['name_restaurants'] =

In [19]:
haversine_np(-105.243460, 20.562397, -105.234347, 20.611905) <= 1

False

In [21]:
haversine_np(-105.243460, 20.562397, -105.234347, 20.611905)

5.582663497695923

In [ ]:
count = 0
if distance <= 1000:

In [ ]:
station_locations['Distance to Columbia'] = haversine_np(station_locations['Station Longitude'],
                                             station_locations['Station Latitude'],
                                             station_locations['Columbia Longitude'],
                                             station_locations['Columbia Latitude'])