In [80]:
import streamlit as st
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
all_hotels = pd.read_csv('hotels_others_complete.csv')

In [3]:
all_hotels.head()

,business_status,geometry,icon,name_x,opening_hours,photos,place_id,plus_code,rating_x,reference,...,tourist_mean_rating,top_3_tourist_attract,casinos,num_casinos,casinos_mean_rating,top_casinos,supermarkets,num_supermarkets,supermarkets_mean_rating,top_3_supermarkets
0,OPERATIONAL,"{'lat': 20.6939009, 'lng': -105.2742384}",https://maps.gstatic.com/mapfiles/place_api/ic...,casa LAS PIÑAS,{'open_now': False},"[{'height': 640, 'html_attributions': ['<a hre...",ChIJIeVYvYNGIYQRh-9bPVK3fCU,"{'compound_code': 'MPVG+H8 Jarretaderas, Nayar...",4.6,ChIJIeVYvYNGIYQRh-9bPVK3fCU,...,4.65,['Letras NUEVO VALLARTA' 'Splash Parque Acuati...,"(0, 'N/A', 'No Nearby Casinos')",0,NaN,No Nearby Casinos,"(2, 3.85, ""['Tienda Elia' 'Martes de Tianguis ...",2,3.850,['Tienda Elia' 'Martes de Tianguis Jarretaderas']
1,OPERATIONAL,"{'lat': 20.6920731, 'lng': -105.2747303}",https://maps.gstatic.com/mapfiles/place_api/ic...,Villas Victoria Confort Jarretaderas,{'open_now': True},NaN,ChIJdSKPg3xHIYQRlZ0pmfgVPiQ,"{'compound_code': 'MPRG+R4 Jarretaderas, Nayar...",5.0,ChIJdSKPg3xHIYQRlZ0pmfgVPiQ,...,NaN,No Nearby Tourist Attractions,"(0, 'N/A', 'No Nearby Casinos')",0,NaN,No Nearby Casinos,"(2, 3.85, ""['Tienda Elia' 'Martes de Tianguis ...",2,3.850,['Tienda Elia' 'Martes de Tianguis Jarretaderas']
2,OPERATIONAL,"{'lat': 20.6939068, 'lng': -105.2763239}",https://maps.gstatic.com/mapfiles/place_api/ic...,Hotel Posada Alejandra,NaN,"[{'height': 349, 'html_attributions': ['<a hre...",ChIJB2Yha4NGIYQRE-GTtF_VSAU,"{'compound_code': 'MPVF+HF Jarretaderas, Nayar...",4.0,ChIJB2Yha4NGIYQRE-GTtF_VSAU,...,4.65,['Letras NUEVO VALLARTA' 'Splash Parque Acuati...,"(0, 'N/A', 'No Nearby Casinos')",0,NaN,No Nearby Casinos,"(2, 3.85, ""['Tienda Elia' 'Martes de Tianguis ...",2,3.850,['Tienda Elia' 'Martes de Tianguis Jarretaderas']
3,OPERATIONAL,"{'lat': 20.6241471, 'lng': -105.2243218}",https://maps.gstatic.com/mapfiles/place_api/ic...,Hotel Azul Romero,{'open_now': True},"[{'height': 3120, 'html_attributions': ['<a hr...",ChIJFW5JHF5FIYQRogsYTW-KvMI,"{'compound_code': 'JQFG+M7 Puerto Vallarta, Ja...",3.9,ChIJFW5JHF5FIYQRogsYTW-KvMI,...,NaN,No Nearby Tourist Attractions,"(0, 'N/A', 'No Nearby Casinos')",0,NaN,No Nearby Casinos,"(7, 4.775, ""['Abarrotes Yumi' 'Minisuper las A...",7,4.775,['Abarrotes Yumi' 'Minisuper las Américas' 'Su...
4,OPERATIONAL,"{'lat': 20.6225929, 'lng': -105.2232518}",https://maps.gstatic.com/mapfiles/place_api/ic...,Vacational Apartment Apartamento Vacacional De...,NaN,"[{'height': 1052, 'html_attributions': ['<a hr...",ChIJ9321RV5FIYQRwnf0qJkeIqU,"{'compound_code': 'JQFG+2M Puerto Vallarta, Ja...",4.8,ChIJ9321RV5FIYQRwnf0qJkeIqU,...,NaN,No Nearby Tourist Attractions,"(0, 'N/A', 'No Nearby Casinos')",0,NaN,No Nearby Casinos,"(6, 4.775, ""['Mini Super K Si D Todo' 'Abarrot...",6,4.775,['Mini Super K Si D Todo' 'Abarrotes Yumi' 'Su...

In [6]:
all_hotels = all_hotels[all_hotels['rating_x']>3.5]

In [7]:
nlp_hotels = pd.read_csv('nlp_embeddings.csv')

In [8]:
nlp_hotels.shape

(329, 27)

In [9]:
all_hotels.shape

(329, 60)

In [11]:
all_hotels.head()

,business_status,geometry,icon,name_x,opening_hours,photos,place_id,plus_code,rating_x,reference,...,tourist_mean_rating,top_3_tourist_attract,casinos,num_casinos,casinos_mean_rating,top_casinos,supermarkets,num_supermarkets,supermarkets_mean_rating,top_3_supermarkets
0,OPERATIONAL,"{'lat': 20.6939009, 'lng': -105.2742384}",https://maps.gstatic.com/mapfiles/place_api/ic...,casa LAS PIÑAS,{'open_now': False},"[{'height': 640, 'html_attributions': ['<a hre...",ChIJIeVYvYNGIYQRh-9bPVK3fCU,"{'compound_code': 'MPVG+H8 Jarretaderas, Nayar...",4.6,ChIJIeVYvYNGIYQRh-9bPVK3fCU,...,4.65,['Letras NUEVO VALLARTA' 'Splash Parque Acuati...,"(0, 'N/A', 'No Nearby Casinos')",0,NaN,No Nearby Casinos,"(2, 3.85, ""['Tienda Elia' 'Martes de Tianguis ...",2,3.850,['Tienda Elia' 'Martes de Tianguis Jarretaderas']
1,OPERATIONAL,"{'lat': 20.6920731, 'lng': -105.2747303}",https://maps.gstatic.com/mapfiles/place_api/ic...,Villas Victoria Confort Jarretaderas,{'open_now': True},NaN,ChIJdSKPg3xHIYQRlZ0pmfgVPiQ,"{'compound_code': 'MPRG+R4 Jarretaderas, Nayar...",5.0,ChIJdSKPg3xHIYQRlZ0pmfgVPiQ,...,NaN,No Nearby Tourist Attractions,"(0, 'N/A', 'No Nearby Casinos')",0,NaN,No Nearby Casinos,"(2, 3.85, ""['Tienda Elia' 'Martes de Tianguis ...",2,3.850,['Tienda Elia' 'Martes de Tianguis Jarretaderas']
2,OPERATIONAL,"{'lat': 20.6939068, 'lng': -105.2763239}",https://maps.gstatic.com/mapfiles/place_api/ic...,Hotel Posada Alejandra,NaN,"[{'height': 349, 'html_attributions': ['<a hre...",ChIJB2Yha4NGIYQRE-GTtF_VSAU,"{'compound_code': 'MPVF+HF Jarretaderas, Nayar...",4.0,ChIJB2Yha4NGIYQRE-GTtF_VSAU,...,4.65,['Letras NUEVO VALLARTA' 'Splash Parque Acuati...,"(0, 'N/A', 'No Nearby Casinos')",0,NaN,No Nearby Casinos,"(2, 3.85, ""['Tienda Elia' 'Martes de Tianguis ...",2,3.850,['Tienda Elia' 'Martes de Tianguis Jarretaderas']
3,OPERATIONAL,"{'lat': 20.6241471, 'lng': -105.2243218}",https://maps.gstatic.com/mapfiles/place_api/ic...,Hotel Azul Romero,{'open_now': True},"[{'height': 3120, 'html_attributions': ['<a hr...",ChIJFW5JHF5FIYQRogsYTW-KvMI,"{'compound_code': 'JQFG+M7 Puerto Vallarta, Ja...",3.9,ChIJFW5JHF5FIYQRogsYTW-KvMI,...,NaN,No Nearby Tourist Attractions,"(0, 'N/A', 'No Nearby Casinos')",0,NaN,No Nearby Casinos,"(7, 4.775, ""['Abarrotes Yumi' 'Minisuper las A...",7,4.775,['Abarrotes Yumi' 'Minisuper las Américas' 'Su...
4,OPERATIONAL,"{'lat': 20.6225929, 'lng': -105.2232518}",https://maps.gstatic.com/mapfiles/place_api/ic...,Vacational Apartment Apartamento Vacacional De...,NaN,"[{'height': 1052, 'html_attributions': ['<a hr...",ChIJ9321RV5FIYQRwnf0qJkeIqU,"{'compound_code': 'JQFG+2M Puerto Vallarta, Ja...",4.8,ChIJ9321RV5FIYQRwnf0qJkeIqU,...,NaN,No Nearby Tourist Attractions,"(0, 'N/A', 'No Nearby Casinos')",0,NaN,No Nearby Casinos,"(6, 4.775, ""['Mini Super K Si D Todo' 'Abarrot...",6,4.775,['Mini Super K Si D Todo' 'Abarrotes Yumi' 'Su...

In [10]:
all_hotels.columns

Index(['business_status', 'geometry', 'icon', 'name_x', 'opening_hours',
       'photos', 'place_id', 'plus_code', 'rating_x', 'reference', 'scope',
       'types', 'user_ratings_total_x', 'vicinity', 'price_level_x',
       'international_phone_number', 'name_y', 'rating_y', 'reviews',
       'user_ratings_total_y', 'website', 'all_ratings', 'all_reviews',
       'price_level_y', 'lat', 'lng', 'long_lat', 'lat_long', 'restaurants',
       'num_restaurants', 'rest_mean_rating', 'top_3_restaurants', 'bars',
       'num_bars', 'bars_mean_rating', 'top_3_bars', 'art_galleries',
       'num_art_galleries', 'art_gallery_mean_rating', 'top_3_art_galleries',
       'gyms', 'num_gyms', 'gyms_mean_rating', 'top_3_gyms', 'shopping',
       'num_shopping', 'shopping_mean_rating', 'top_3_shopping', 'tourist',
       'num_tourist_attract', 'tourist_mean_rating', 'top_3_tourist_attract',
       'casinos', 'num_casinos', 'casinos_mean_rating', 'top_casinos',
       'supermarkets', 'num_supermarkets', 'supermarkets_mean_rating',
       'top_3_supermarkets'],
      dtype='object')

In [12]:
nlp_hotels.columns

Index(['business_status', 'geometry', 'icon', 'name_x', 'opening_hours',
       'photos', 'place_id', 'plus_code', 'rating_x', 'reference', 'scope',
       'types', 'user_ratings_total_x', 'vicinity', 'price_level_x',
       'international_phone_number', 'name_y', 'rating_y', 'reviews',
       'user_ratings_total_y', 'website', 'all_ratings', 'all_reviews',
       'price_level_y', 'lat', 'lng', 'w2vVector'],
      dtype='object')

In [14]:
all_hotels = all_hotels.drop(columns=['business_status', 'geometry', 'icon', 'name_x', 'opening_hours',
       'photos', 'plus_code', 'rating_x', 'reference', 'scope',
       'types', 'user_ratings_total_x', 'vicinity', 'price_level_x',
       'international_phone_number', 'name_y', 'rating_y', 'reviews',
       'user_ratings_total_y', 'website', 'all_ratings', 'all_reviews',
       'price_level_y', 'lat', 'lng', 'long_lat', 'restaurants', 'bars', 'art_galleries',
       'gyms', 'shopping', 'tourist', 'casinos', 'supermarkets'])

In [15]:
all_hotels.columns

Index(['place_id', 'lat_long', 'num_restaurants', 'rest_mean_rating',
       'top_3_restaurants', 'num_bars', 'bars_mean_rating', 'top_3_bars',
       'num_art_galleries', 'art_gallery_mean_rating', 'top_3_art_galleries',
       'num_gyms', 'gyms_mean_rating', 'top_3_gyms', 'num_shopping',
       'shopping_mean_rating', 'top_3_shopping', 'num_tourist_attract',
       'tourist_mean_rating', 'top_3_tourist_attract', 'num_casinos',
       'casinos_mean_rating', 'top_casinos', 'num_supermarkets',
       'supermarkets_mean_rating', 'top_3_supermarkets'],
      dtype='object')

In [16]:
all_hotels.head()

,place_id,lat_long,num_restaurants,rest_mean_rating,top_3_restaurants,num_bars,bars_mean_rating,top_3_bars,num_art_galleries,art_gallery_mean_rating,...,top_3_shopping,num_tourist_attract,tourist_mean_rating,top_3_tourist_attract,num_casinos,casinos_mean_rating,top_casinos,num_supermarkets,supermarkets_mean_rating,top_3_supermarkets
0,ChIJIeVYvYNGIYQRh-9bPVK3fCU,20.6939009 -105.2742384,48,4.594118,"[""Marley's Café"" 'Carnitas el gordo' 'Loncheri...",4,4.500000,"['Arriba Tequila Bar' ""Claudio's Place"" 'Salon...",0,NaN,...,['Taller SS' 'Vitania Centro Urbano' 'Plaza Ba...,2,4.65,['Letras NUEVO VALLARTA' 'Splash Parque Acuati...,0,NaN,No Nearby Casinos,2,3.850,['Tienda Elia' 'Martes de Tianguis Jarretaderas']
1,ChIJdSKPg3xHIYQRlZ0pmfgVPiQ,20.6920731 -105.2747303,38,4.523077,['BLUE TARP RESTAURANT - MAGO' 'La Xitana Crep...,3,4.500000,"['Arriba Tequila Bar' ""Claudio's Place"" 'Salon...",0,NaN,...,['Taller SS' 'Novelties And Small Gifts' 'Tian...,0,NaN,No Nearby Tourist Attractions,0,NaN,No Nearby Casinos,2,3.850,['Tienda Elia' 'Martes de Tianguis Jarretaderas']
2,ChIJB2Yha4NGIYQRE-GTtF_VSAU,20.6939068 -105.2763239,48,4.594118,"[""Marley's Café"" 'Vancouver Wings' 'Carnitas E...",4,4.500000,"['Arriba Tequila Bar' ""Claudio's Place"" 'Salon...",0,NaN,...,['Taller SS' 'Plaza Bahia' 'Novelties And Smal...,2,4.65,['Letras NUEVO VALLARTA' 'Splash Parque Acuati...,0,NaN,No Nearby Casinos,2,3.850,['Tienda Elia' 'Martes de Tianguis Jarretaderas']
3,ChIJFW5JHF5FIYQRogsYTW-KvMI,20.6241471 -105.22432179999998,60,4.586364,"['Hamburguesas TuPanaBurguer""' 'Sandwich y fru...",25,4.386364,['La Terraza del Margaritas'\n 'Salon de Event...,4,4.8,...,['Stetica Micheel Rivera' 'RECTIFICACIONES OSC...,0,NaN,No Nearby Tourist Attractions,0,NaN,No Nearby Casinos,7,4.775,['Abarrotes Yumi' 'Minisuper las Américas' 'Su...
4,ChIJ9321RV5FIYQRwnf0qJkeIqU,20.6225929 -105.2232518,60,4.586667,['El Rinconcito Marisquero' 'La Tortuga la Mej...,17,4.320000,['Salon de Eventos Infantil El Jardin de Chisp...,4,4.8,...,['Stetica Micheel Rivera' 'Mercado de mariscos...,0,NaN,No Nearby Tourist Attractions,0,NaN,No Nearby Casinos,6,4.775,['Mini Super K Si D Todo' 'Abarrotes Yumi' 'Su...

In [17]:
nlp_hotels = nlp_hotels.drop(columns=['icon', 'opening_hours', 'photos', 'plus_code', 'reference', 'scope',
       'types', 'price_level_x', 'name_y', 'rating_y', 'user_ratings_total_y', 'price_level_y'])

In [18]:
nlp_hotels.head()

,business_status,geometry,name_x,place_id,rating_x,user_ratings_total_x,vicinity,international_phone_number,reviews,website,all_ratings,all_reviews,lat,lng,w2vVector
0,OPERATIONAL,"{'lat': 20.6939009, 'lng': -105.2742384}",casa LAS PIÑAS,ChIJIeVYvYNGIYQRh-9bPVK3fCU,4.6,8.0,"Calle Lopez Mateos, Centro, Las Jarretaderas",+52 322 102 8516,"[{'author_name': 'Jovita Garcia Fernandez', 'a...",https://www.facebook.com/departamentos.laspinas/,"[5, 5, 5, 5, 5]",an excellent place has all the comforts it ...,20.693901,-105.274238,-0.004905
1,OPERATIONAL,"{'lat': 20.6920731, 'lng': -105.2747303}",Villas Victoria Confort Jarretaderas,ChIJdSKPg3xHIYQRlZ0pmfgVPiQ,5.0,1.0,"Calle Francisco Villa Poniente 9, Las Jarretad...",+52 322 297 0093,"[{'author_name': 'anahi chavez', 'author_url':...",https://www.villasvictoriacomfort.com/,[5],it was more than i expected cheap spacious...,20.692073,-105.274730,0.001456
2,OPERATIONAL,"{'lat': 20.6939068, 'lng': -105.2763239}",Hotel Posada Alejandra,ChIJB2Yha4NGIYQRE-GTtF_VSAU,4.0,54.0,"Calle Niños Heroes S/N, Las Jarretaderas",+52 322 135 6145,"[{'author_name': 'Juan Carlos Lopez', 'author_...",https://www.google.com/url?sa=t&source=web&rct...,"[3, 4, 3, 3, 5]",just for one night it s alright discreet a...,20.693907,-105.276324,-0.004143
3,OPERATIONAL,"{'lat': 20.6241471, 'lng': -105.2243218}",Hotel Azul Romero,ChIJFW5JHF5FIYQRogsYTW-KvMI,3.9,11.0,"Puerto Rico 1579, Lázaro Cárdenas, Puerto Vall...",+52 322 276 4854,"[{'author_name': 'Al Reust', 'author_url': 'ht...",http://www.azulromero.com/,"[3, 4, 5, 4, 1]",this is interesting as it appears to be be ...,20.624147,-105.224322,-0.001768
4,OPERATIONAL,"{'lat': 20.6225929, 'lng': -105.2232518}",Vacational Apartment Apartamento Vacacional De...,ChIJ9321RV5FIYQRwnf0qJkeIqU,4.8,11.0,"Río de La Plata 222, Lázaro Cárdenas, Puerto V...",+52 322 270 9397,"[{'author_name': 'Daniel Chilldres', 'author_u...",https://www.airbnb.mx/rooms/23351610,"[5, 4, 5, 5, 5]",i loved it here the place is clean pleasa...,20.622593,-105.223252,-0.002578

In [21]:
all_info = pd.merge(nlp_hotels, all_hotels, on='place_id')

In [23]:
all_info.head()

,business_status,geometry,name_x,place_id,rating_x,user_ratings_total_x,vicinity,international_phone_number,reviews,website,...,top_3_shopping,num_tourist_attract,tourist_mean_rating,top_3_tourist_attract,num_casinos,casinos_mean_rating,top_casinos,num_supermarkets,supermarkets_mean_rating,top_3_supermarkets
0,OPERATIONAL,"{'lat': 20.6939009, 'lng': -105.2742384}",casa LAS PIÑAS,ChIJIeVYvYNGIYQRh-9bPVK3fCU,4.6,8.0,"Calle Lopez Mateos, Centro, Las Jarretaderas",+52 322 102 8516,"[{'author_name': 'Jovita Garcia Fernandez', 'a...",https://www.facebook.com/departamentos.laspinas/,...,['Taller SS' 'Vitania Centro Urbano' 'Plaza Ba...,2,4.65,['Letras NUEVO VALLARTA' 'Splash Parque Acuati...,0,NaN,No Nearby Casinos,2,3.850,['Tienda Elia' 'Martes de Tianguis Jarretaderas']
1,OPERATIONAL,"{'lat': 20.6920731, 'lng': -105.2747303}",Villas Victoria Confort Jarretaderas,ChIJdSKPg3xHIYQRlZ0pmfgVPiQ,5.0,1.0,"Calle Francisco Villa Poniente 9, Las Jarretad...",+52 322 297 0093,"[{'author_name': 'anahi chavez', 'author_url':...",https://www.villasvictoriacomfort.com/,...,['Taller SS' 'Novelties And Small Gifts' 'Tian...,0,NaN,No Nearby Tourist Attractions,0,NaN,No Nearby Casinos,2,3.850,['Tienda Elia' 'Martes de Tianguis Jarretaderas']
2,OPERATIONAL,"{'lat': 20.6939068, 'lng': -105.2763239}",Hotel Posada Alejandra,ChIJB2Yha4NGIYQRE-GTtF_VSAU,4.0,54.0,"Calle Niños Heroes S/N, Las Jarretaderas",+52 322 135 6145,"[{'author_name': 'Juan Carlos Lopez', 'author_...",https://www.google.com/url?sa=t&source=web&rct...,...,['Taller SS' 'Plaza Bahia' 'Novelties And Smal...,2,4.65,['Letras NUEVO VALLARTA' 'Splash Parque Acuati...,0,NaN,No Nearby Casinos,2,3.850,['Tienda Elia' 'Martes de Tianguis Jarretaderas']
3,OPERATIONAL,"{'lat': 20.6241471, 'lng': -105.2243218}",Hotel Azul Romero,ChIJFW5JHF5FIYQRogsYTW-KvMI,3.9,11.0,"Puerto Rico 1579, Lázaro Cárdenas, Puerto Vall...",+52 322 276 4854,"[{'author_name': 'Al Reust', 'author_url': 'ht...",http://www.azulromero.com/,...,['Stetica Micheel Rivera' 'RECTIFICACIONES OSC...,0,NaN,No Nearby Tourist Attractions,0,NaN,No Nearby Casinos,7,4.775,['Abarrotes Yumi' 'Minisuper las Américas' 'Su...
4,OPERATIONAL,"{'lat': 20.6225929, 'lng': -105.2232518}",Vacational Apartment Apartamento Vacacional De...,ChIJ9321RV5FIYQRwnf0qJkeIqU,4.8,11.0,"Río de La Plata 222, Lázaro Cárdenas, Puerto V...",+52 322 270 9397,"[{'author_name': 'Daniel Chilldres', 'author_u...",https://www.airbnb.mx/rooms/23351610,...,['Stetica Micheel Rivera' 'Mercado de mariscos...,0,NaN,No Nearby Tourist Attractions,0,NaN,No Nearby Casinos,6,4.775,['Mini Super K Si D Todo' 'Abarrotes Yumi' 'Su...

In [24]:
all_info.describe(include='all')

,business_status,geometry,name_x,place_id,rating_x,user_ratings_total_x,vicinity,international_phone_number,reviews,website,...,top_3_shopping,num_tourist_attract,tourist_mean_rating,top_3_tourist_attract,num_casinos,casinos_mean_rating,top_casinos,num_supermarkets,supermarkets_mean_rating,top_3_supermarkets
count,329,329,329,329,329.000000,329.000000,327,291,329,249,...,329,329.000000,277.000000,329,329.000000,0.0,329,329.000000,251.000000,329
unique,1,328,326,329,NaN,NaN,310,271,329,243,...,82,NaN,NaN,77,NaN,NaN,10,NaN,NaN,63
top,OPERATIONAL,"{'lat': 20.65340699999999, 'lng': -105.2253316}",Villa Azul Celeste,ChIJlUFkpnRFIYQR5E17wi81y9c,NaN,NaN,"Boulevard Riviera Nayarit 254, Nuevo Vallarta",+52 322 226 4000,"[{'author_name': 'Robert McCartney', 'author_u...",https://www.vidanta.com/web/nuevo-vallarta,...,No Nearby Shopping Malls,NaN,NaN,No Nearby Tourist Attractions,NaN,NaN,No Nearby Casinos,NaN,NaN,No Nearby Supermarkets
freq,329,2,2,1,NaN,NaN,6,10,1,3,...,54,NaN,NaN,46,NaN,NaN,232,NaN,NaN,72
mean,NaN,NaN,NaN,NaN,4.464438,432.522796,NaN,NaN,NaN,NaN,...,NaN,9.322188,4.589235,NaN,0.419453,NaN,NaN,5.103343,4.399347,NaN
std,NaN,NaN,NaN,NaN,0.354044,917.941327,NaN,NaN,NaN,NaN,...,NaN,12.085297,0.171836,NaN,0.811720,NaN,NaN,4.176913,0.210750,NaN
min,NaN,NaN,NaN,NaN,3.600000,1.000000,NaN,NaN,NaN,NaN,...,NaN,0.000000,4.000000,NaN,0.000000,NaN,NaN,0.000000,3.850000,NaN
25%,NaN,NaN,NaN,NaN,4.200000,12.000000,NaN,NaN,NaN,NaN,...,NaN,1.000000,4.500000,NaN,0.000000,NaN,NaN,1.000000,4.300000,NaN
50%,NaN,NaN,NaN,NaN,4.500000,54.000000,NaN,NaN,NaN,NaN,...,NaN,2.000000,4.655556,NaN,0.000000,NaN,NaN,4.000000,4.390000,NaN
75%,NaN,NaN,NaN,NaN,4.700000,308.000000,NaN,NaN,NaN,NaN,...,NaN,15.000000,4.700000,NaN,1.000000,NaN,NaN,9.000000,4.575000,NaN
max,NaN,NaN,NaN,NaN,5.000000,6216.000000,NaN,NaN,NaN,NaN,...,NaN,39.000000,4.900000,NaN,5.000000,NaN,NaN,14.000000,5.000000,NaN

In [25]:
all_info[all_info['name_x']=="Villa Azul Celeste"]

,business_status,geometry,name_x,place_id,rating_x,user_ratings_total_x,vicinity,international_phone_number,reviews,website,...,top_3_shopping,num_tourist_attract,tourist_mean_rating,top_3_tourist_attract,num_casinos,casinos_mean_rating,top_casinos,num_supermarkets,supermarkets_mean_rating,top_3_supermarkets
307,OPERATIONAL,"{'lat': 20.578947, 'lng': -105.246568}",Villa Azul Celeste,ChIJRy0CCMFaIYQRHFDwbYQ7t0M,5.0,3.0,"Puerto Vallarta - Manzanillo, Conchas Chinas, ...",+52 702 951 1395,"[{'author_name': 'Lisa Van Valkenburgh', 'auth...",http://www.villaazulceleste.net/,...,No Nearby Shopping Malls,0,NaN,No Nearby Tourist Attractions,0,NaN,No Nearby Casinos,0,NaN,No Nearby Supermarkets
308,OPERATIONAL,"{'lat': 20.5791229, 'lng': -105.2466266}",Villa Azul Celeste,ChIJOeKKCMFaIYQRuIT1XA1VJmA,4.8,5.0,"Puerto Vallarta - Manzanillo, Conchas Chinas, ...",+1 916-600-0128,"[{'author_name': 'ME ME', 'author_url': 'https...",http://www.villaazulceleste.net/,...,No Nearby Shopping Malls,0,NaN,No Nearby Tourist Attractions,0,NaN,No Nearby Casinos,0,NaN,No Nearby Supermarkets

In [26]:
all_info.columns

Index(['business_status', 'geometry', 'name_x', 'place_id', 'rating_x',
       'user_ratings_total_x', 'vicinity', 'international_phone_number',
       'reviews', 'website', 'all_ratings', 'all_reviews', 'lat', 'lng',
       'w2vVector', 'lat_long', 'num_restaurants', 'rest_mean_rating',
       'top_3_restaurants', 'num_bars', 'bars_mean_rating', 'top_3_bars',
       'num_art_galleries', 'art_gallery_mean_rating', 'top_3_art_galleries',
       'num_gyms', 'gyms_mean_rating', 'top_3_gyms', 'num_shopping',
       'shopping_mean_rating', 'top_3_shopping', 'num_tourist_attract',
       'tourist_mean_rating', 'top_3_tourist_attract', 'num_casinos',
       'casinos_mean_rating', 'top_casinos', 'num_supermarkets',
       'supermarkets_mean_rating', 'top_3_supermarkets'],
      dtype='object')

In [85]:
all_info.to_csv(r'all_info_cleaned.csv', index=True, header=True, index_label=False)

In [87]:
all_info = all_info.drop(columns=['w2vVector','business_status'])

In [88]:
df_similar_columns = ['rating_x','user_ratings_total_x','num_restaurants','rest_mean_rating',
                      'num_bars', 'bars_mean_rating', 'num_art_galleries', 'art_gallery_mean_rating', 'num_gyms', 
                      'gyms_mean_rating', 'num_shopping', 'shopping_mean_rating', 'num_tourist_attract',
                      'tourist_mean_rating', 'num_casinos','casinos_mean_rating', 'num_supermarkets', 'supermarkets_mean_rating']

In [89]:
df_similar_trial = all_info[df_similar_columns]

In [90]:
df_similar_trial

,rating_x,user_ratings_total_x,num_restaurants,rest_mean_rating,num_bars,bars_mean_rating,num_art_galleries,art_gallery_mean_rating,num_gyms,gyms_mean_rating,num_shopping,shopping_mean_rating,num_tourist_attract,tourist_mean_rating,num_casinos,casinos_mean_rating,num_supermarkets,supermarkets_mean_rating
0,4.6,8.0,48,4.594118,4,4.500000,0,NaN,3,4.466667,7,4.420,2,4.65,0,NaN,2,3.850
1,5.0,1.0,38,4.523077,3,4.500000,0,NaN,1,4.300000,4,4.300,0,NaN,0,NaN,2,3.850
2,4.0,54.0,48,4.594118,4,4.500000,0,NaN,3,4.466667,6,4.325,2,4.65,0,NaN,2,3.850
3,3.9,11.0,60,4.586364,25,4.386364,4,4.8,25,4.678947,5,4.750,0,NaN,0,NaN,7,4.775
4,4.8,11.0,60,4.586667,17,4.320000,4,4.8,19,4.653333,4,5.000,0,NaN,0,NaN,6,4.775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,4.8,371.0,24,4.552941,4,4.750000,0,NaN,3,4.700000,1,4.600,1,4.80,0,NaN,0,NaN
325,3.8,29.0,34,4.589655,6,4.550000,0,NaN,2,NaN,2,4.600,3,4.40,0,NaN,1,NaN
326,4.8,437.0,14,4.500000,1,NaN,0,NaN,1,NaN,2,4.700,1,4.80,0,NaN,0,NaN
327,4.9,63.0,23,4.562500,4,4.750000,0,NaN,3,4.700000,1,4.600,1,4.80,0,NaN,0,NaN
328,4.6,15.0,9,4.350000,0,NaN,0,NaN,0,NaN,2,4.800,1,4.80,0,NaN,0,NaN

Fix Null Values:

In [110]:
df_similar_trial.isnull().sum()

rating_x                      0
user_ratings_total_x          0
num_restaurants               0
rest_mean_rating             14
num_bars                      0
bars_mean_rating             44
num_art_galleries             0
art_gallery_mean_rating     158
num_gyms                      0
gyms_mean_rating             61
num_shopping                  0
shopping_mean_rating         61
num_tourist_attract           0
tourist_mean_rating          52
num_casinos                   0
casinos_mean_rating         329
num_supermarkets              0
supermarkets_mean_rating     78
dtype: int64

In [117]:
no_nulls = df_similar_trial.fillna(df_similar_trial.mean())
no_nulls.isnull().sum()

rating_x                      0
user_ratings_total_x          0
num_restaurants               0
rest_mean_rating              0
num_bars                      0
bars_mean_rating              0
num_art_galleries             0
art_gallery_mean_rating       0
num_gyms                      0
gyms_mean_rating              0
num_shopping                  0
shopping_mean_rating          0
num_tourist_attract           0
tourist_mean_rating           0
num_casinos                   0
casinos_mean_rating         329
num_supermarkets              0
supermarkets_mean_rating      0
dtype: int64

In [118]:
no_nulls = no_nulls.drop(columns=['casinos_mean_rating'])
no_nulls.isnull().sum()

rating_x                    0
user_ratings_total_x        0
num_restaurants             0
rest_mean_rating            0
num_bars                    0
bars_mean_rating            0
num_art_galleries           0
art_gallery_mean_rating     0
num_gyms                    0
gyms_mean_rating            0
num_shopping                0
shopping_mean_rating        0
num_tourist_attract         0
tourist_mean_rating         0
num_casinos                 0
num_supermarkets            0
supermarkets_mean_rating    0
dtype: int64

In [119]:
no_nulls.head()

,rating_x,user_ratings_total_x,num_restaurants,rest_mean_rating,num_bars,bars_mean_rating,num_art_galleries,art_gallery_mean_rating,num_gyms,gyms_mean_rating,num_shopping,shopping_mean_rating,num_tourist_attract,tourist_mean_rating,num_casinos,num_supermarkets,supermarkets_mean_rating
0,4.6,8.0,48,4.594118,4,4.500000,0,4.760621,3,4.466667,7,4.420,2,4.650000,0,2,3.850
1,5.0,1.0,38,4.523077,3,4.500000,0,4.760621,1,4.300000,4,4.300,0,4.589235,0,2,3.850
2,4.0,54.0,48,4.594118,4,4.500000,0,4.760621,3,4.466667,6,4.325,2,4.650000,0,2,3.850
3,3.9,11.0,60,4.586364,25,4.386364,4,4.800000,25,4.678947,5,4.750,0,4.589235,0,7,4.775
4,4.8,11.0,60,4.586667,17,4.320000,4,4.800000,19,4.653333,4,5.000,0,4.589235,0,6,4.775

In [127]:
no_nulls.to_csv(r'numerical_cols.csv',index=True, header=True, index_label=False)

In [120]:
from sklearn.preprocessing import StandardScaler

In [121]:
scaler = StandardScaler()

In [122]:
scaled = scaler.fit_transform(no_nulls)

In [124]:
scaled_df = pd.DataFrame(scaled)
scaled_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.383480,-0.463177,-0.001291,1.405572,-1.099485,3.642947e-01,-0.765758,-2.539419e-14,-0.970132,-5.062775e-01,-0.037061,-0.979392,-0.606799,0.386088,-0.517533,-0.744107,-2.990242e+00
1,1.515003,-0.470815,-0.473227,0.726274,-1.141562,3.642947e-01,-0.765758,-2.539419e-14,-1.273529,-1.329815e+00,-0.617691,-1.614202,-0.772541,0.000000,-0.517533,-0.744107,-2.990242e+00
2,-1.313805,-0.412989,-0.001291,1.405572,-1.099485,3.642947e-01,-0.765758,-2.539419e-14,-0.970132,-5.062775e-01,-0.230605,-1.481950,-0.606799,0.386088,-0.517533,-0.744107,-2.990242e+00
3,-1.596686,-0.459904,0.565032,1.331427,-0.215881,-6.458673e-01,-0.579897,3.752982e-01,2.367233,5.426497e-01,-0.424148,0.766334,-0.772541,0.000000,-0.517533,0.454773,2.044778e+00
4,0.949241,-0.459904,0.565032,1.334325,-0.552492,-1.235802e+00,-0.579897,3.752982e-01,1.457043,4.160849e-01,-0.617691,2.088855,-0.772541,0.000000,-0.517533,0.214997,2.044778e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,0.949241,-0.067125,-1.133937,1.011838,-1.099485,2.586651e+00,-0.765758,-2.539419e-14,-0.970132,6.466755e-01,-1.198321,-0.027178,-0.689670,1.339150,-0.517533,-1.223659,-4.834590e-15
325,-1.879567,-0.440265,-0.662001,1.362901,-1.015333,8.087660e-01,-0.765758,-2.539419e-14,-1.121831,1.755477e-14,-1.004778,-0.027178,-0.523927,-1.202349,-0.517533,-0.983883,-4.834590e-15
326,0.949241,0.004885,-1.605873,0.505610,-1.225715,-1.579079e-14,-0.765758,-2.539419e-14,-1.273529,1.755477e-14,-1.004778,0.501830,-0.689670,1.339150,-0.517533,-1.223659,-4.834590e-15
327,1.232122,-0.403169,-1.181131,1.103241,-1.099485,2.586651e+00,-0.765758,-2.539419e-14,-0.970132,6.466755e-01,-1.198321,-0.027178,-0.689670,1.339150,-0.517533,-1.223659,-4.834590e-15
328,0.383480,-0.455540,-1.841841,-0.928703,-1.267791,-1.579079e-14,-0.765758,-2.539419e-14,-1.425227,1.755477e-14,-1.004778,1.030838,-0.689670,1.339150,-0.517533,-1.223659,-4.834590e-15

In [125]:
similarity_matrix = pd.DataFrame(cosine_similarity(scaled_df))

In [126]:
similarity_matrix

,0,1,2,3,4,5,6,7,8,9,...,319,320,321,322,323,324,325,326,327,328
0,1.000000,0.914358,0.915198,-0.413057,-0.357064,-0.271556,-0.274610,-0.366761,-0.021212,-0.157668,...,0.407857,0.417171,0.422142,0.441885,0.453028,0.418046,0.359545,0.404672,0.428093,0.225323
1,0.914358,1.000000,0.765423,-0.574472,-0.396947,-0.373593,-0.469110,-0.489681,-0.029770,-0.208385,...,0.394802,0.402902,0.394127,0.494208,0.446170,0.415546,0.243435,0.459144,0.436468,0.303675
2,0.915198,0.765423,1.000000,-0.253841,-0.468353,-0.265403,-0.132758,-0.188916,-0.142495,-0.153681,...,0.329486,0.337195,0.374141,0.267520,0.362083,0.314679,0.540330,0.268486,0.300578,0.150007
3,-0.413057,-0.574472,-0.253841,1.000000,0.727666,0.820067,0.857491,0.948205,0.209256,0.454353,...,-0.154305,-0.143003,-0.112905,-0.166538,-0.055629,-0.164571,0.178358,-0.199915,-0.170829,-0.238256
4,-0.357064,-0.396947,-0.468353,0.727666,1.000000,0.750858,0.754833,0.690481,0.396093,0.344505,...,-0.050462,-0.039584,0.044381,0.170442,0.169677,-0.023618,-0.047981,0.142562,0.004899,0.041437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,0.418046,0.415546,0.314679,-0.164571,-0.023618,0.071504,-0.095619,-0.119727,0.617188,0.481557,...,0.997007,0.994301,0.897433,0.838867,0.789489,1.000000,0.422417,0.756681,0.995061,0.607985
325,0.359545,0.243435,0.540330,0.178358,-0.047981,0.049659,0.383257,0.291415,0.262176,0.271663,...,0.448001,0.457770,0.502432,0.291841,0.431757,0.422417,1.000000,0.338635,0.396646,0.289222
326,0.404672,0.459144,0.268486,-0.199915,0.142562,-0.075328,0.041278,-0.108148,0.267642,0.063212,...,0.743701,0.740416,0.892442,0.940579,0.946923,0.756681,0.338635,1.000000,0.760196,0.896280
327,0.428093,0.436468,0.300578,-0.170829,0.004899,0.077195,-0.107687,-0.133935,0.623095,0.483120,...,0.985838,0.990530,0.879165,0.858782,0.797567,0.995061,0.396646,0.760196,1.000000,0.606442
328,0.225323,0.303675,0.150007,-0.238256,0.041437,-0.078817,0.023448,-0.118278,0.217375,-0.035497,...,0.613151,0.622035,0.808079,0.775716,0.788443,0.607985,0.289222,0.896280,0.606442,1.000000